GEMINI_API_KEY=

# UzbekVoice API (https://uzbekvoice.ai)
UZBEKVOICE_API_KEY=

# STT sozlamalari
STT_LANGUAGE=uz-ru        # uz | ru | uz-ru
STT_MODEL=general         # general | enhanced-stt

# TTS sozlamalari
TTS_MODEL=lola            # lola | shoira
